<div>
  <h1>Log in</h1>
  <form action="/login" method="post">
    <span>Username: <input type="text" name="username"/></span>
    <span>Password: <input type="password" name="password"/></span>
    <button type="submit">Click here to log in</button>
  </form>
</div>

<div>
  <button><a href="/signup">Click here to sign up instead</a></button>
</div>
