<div>
  <h1>Sign up</h1>
  <form action="/signup" method="post">
    <span>Username: <input type="text" name="username"/></span>
    <span>Password: <input type="password" name="password"/></span>
    <button type="submit">Click here to sign in</button>
  </form>
</div>

<div>
  <button><a href="/login">Click here to log in instead</a></button>
</div>
